# Created by .ignore support plugin (hsz.mobi)
.idea/
charts
postgresql-ha/skaffold.yaml
mariadb-galera/skaffold.yaml
clustersecret/secrets.yaml
vault/skaffold.yaml
minio/skaffold.yaml
mongodb/skaffold.yaml
wekan/skaffold.yaml
wg-api+3-key.pem
wg-api+3.pem
ecr-proxy/auth.yaml